body {
  background-image: url(background.jpg);
  background-size: cover;
}

.contenitore {
  margin: auto;
  width: 850px;
  height: 600px;
  background-color: rgba(0,0,0,0.49) ;
  border-radius: 20px;
  padding-top: 15px;
}

* {
  box-sizing: border-box;
}

header {
  color: lime;
  text-align: center;
  margin-top: 25px;
}

.tasti {
  width: 600px;
  height: 35px;
  background-color: lime;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
}

#logo {
  width: 20%;
  margin: auto;
}

.titolo {
  color: white;
  font-size: 20px;
}

main {
  text-align: left;
  margin-left: 125px;
  font-style: open-sans;
}

.sottotitolo {
  color: white;
  font-size: 12px;
  display: block;
  margin: 1px;
  padding: 1px;
}

.paragraph {
  margin-top: 15px;
}

#rettangolo1 {
  width: 27%;
  height: 20px;
  background-color: orange;
  border-radius: 5px;
}

#rettangolo2 {
  width: 60%;
  height: 20px;
  background-color: lime;
  border-radius: 5px;
}

#rettangolo3 {
  width: 15%;
  height: 20px;
  background-color: red;
  border-radius: 5px;
}
